.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    display: flex;
    width: 750px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2;
}

.modal-header, .modal-footer {
    padding: 10px;
}
.modal-footer {
    display: flex;
    justify-content: right;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.form_button {
    color: white;
}