.footer {
    margin-top: 58px;
}
.au-footer {
    width: 1200px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin-top: 60px;
}
.contact-footer {
    margin-left: 20px;
    width: 300px;
    padding-right: 20px;
}
.contact-footer p:nth-child(1) {
    padding-top: 7px;
}
p.full-text {
    padding-top: 28px;
}
.bi.bi-telephone-outbound-fill, .bi.bi-envelope-fill, .bi.bi-pin-map-fill {
    color: #ff5100;
    font-size: 17px;
    padding-right: 10px;
    line-height: 1;
}
.quick-links ul li a, .support ul li a {
    text-decoration: none;
    color: gray;
}
.quick-links ul li a:hover, .support ul li a:hover {
    text-decoration: none;
    color: #ff5100;
    font-weight: bolder;
}
.quick-links ul li, .support ul li {
    font-size: 13px;
    color: grey;
    list-style: none;
    margin-left: -31px;
    padding-bottom: 17px;
}
.quick-links > h6, .support > h6, .newsletter > h6 {
    padding-bottom: 17px;
    padding-top: 30px;
}
.quick-links ul, .support ul {
    padding-top: 5px;
}
.quick-links {
    width: 200px;
}
.support {
    width: 265px;
}
.newsletter {
    width: 320px;
}
button.btn-btn-link.newsletter_btn {
    background: #ff5100;
    color: white;
    border: none;
    height: 33px;
    border-radius: 3px;
    margin-top: 20px;
}
input.newsletter_input {
    border: 0.5px solid #ff5100;
    height: 31px;
    border-radius: 25px;
    font-size: 13px;
    width: 296px;
    font-style: inherit;
    padding-left: 15px;
}
a#email, #website, #phone_number {
    text-decoration: none;
    color: gray;
}
a#email:hover, #website:hover, #phone_number:hover {
    text-decoration: none;
    color: #ff5100;
    font-weight: bolder;
}
p#copyright {
    font-size: 11px;
}