.bi-search, .bi-person-fill {
    color: #707171;
    line-height: 2.3;
}

.searchbtn {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

input.input_search {
    max-width: 800px;
    min-width: 350px;
    border-radius: 20px;
    border: 0.5px solid #ff9f00;
    height: 31px;
    font-size: 14px;
    padding-left: 15px;
}
.searchdown {
    position: absolute;
    display: flex;
    background: white;
    width: 350px;
    height: 100px;
    border-radius: 5px;
}